.about-us-container {
    /* max-width: 1200px;
    margin: 20px; */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 90px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.section {
    margin-bottom: 40px;
}

.owner-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.owner-details h2 {
    font-size: 2.5rem;
}

.owner-details .contact-info p{
    font-size: 1.5rem;
}

.contact-info .about-tel a {
    color: #f42d80;
}

.contact-info .about-mail a{
    color: #34C759;
}

.contact-info .about-mail a:hover {
    color: #f42d80;
}

.contact-info .about-tel a:hover{
    color: #34C759;
}

.achievements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.achievement-item {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.achievement-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.contact-info a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


.map-container {
    background-color: #e9ecef;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}