.contact-feedback-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    height: 85vh;
}

.contact-section,
.feedback-section {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    padding-right: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.contact-section {
    margin-right: 40px;
}

.feedback-section {
    margin-left: 40px;
}

.contact-feedback-container::before {
    content: '';
    width: 2px;
    height: 80%;
    background-color: #121010;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

h2 {
    color: #00bfff;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.contact-form-group,
.feedback-form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1rem;
    color: #333;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    resize: none;
}

textarea {
    height: 150px;

}

input[type="email"]:focus,
textarea:focus {
    border-color: #00bfff;
}

.contact-submit-btn,
.feedback-submit-btn {
    width: 100%;
    padding: 10px;
    margin-left: 8px;
    background-color: #00bfff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback-submit-btn{
    margin-left: 10px;
}

.contact-submit-btn:hover,
.feedback-submit-btn:hover {
    background-color: #007fcc;
    box-shadow: 0 4px 10px rgba(0, 127, 204, 0.5); /* Added shadow on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-feedback-container {
        flex-direction: column; /* Stack sections vertically on small screens */
        padding: 20px;
    }
    
    .contact-section,
    .feedback-section {
        width: 100%; /* Full width for each section */
        margin: 0;
    }
    
    .contact-feedback-container::before {
        display: none; /* Hide the divider on small screens */
    }
}
