.main-content {
    display: flex; /* Enables flexbox layout */
    flex-direction: row; /* Aligns children in a row (horizontally) */
    align-items: flex-start; /* Aligns items at the start of the container */
    padding: 20px;
}


.customer_manage {
    flex: 1; /* Takes up remaining space next to the sidebar */
    margin-left: 20px; /* Space between the sidebar and customer_manage */
    background-color: #fff; /* Adjust background as needed */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%; /* Match the height of the sidebar */
    box-sizing: border-box;
}

.customer-manage-container {
    display: flex;
    flex: 1; /* Takes up remaining space next to the sidebar */
    flex-direction: column;
    margin-left: 20px;
    /* background-color: #fff; */
    border-radius: 15px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    height: 100%; /* Change to 100% to fill the container */
    box-sizing: border-box;
}

.customer-details {
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.customer-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 232, 254);
    border : 2px solid rgba(115, 117, 130, 0.479);
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 3.5rem;
    align-items: center;
    /* width: 100%; */
}

.header-item {
    flex: 1;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2.3rem;
}

.name {
    background-color: rgba(255, 142, 236, 0.8);
    border-radius: 10px 0 0 10px;
    border: solid 4px rgb(255, 26, 217, 0.8);
}

.email {
    border: solid 4px rgb(0, 199, 190, 0.8);
    background-color: rgba(119, 250, 244, 0.8);
}

.phone {
    border: solid 4px rgb(255, 204, 0, 0.8);
    background-color: rgba(255, 226, 111, 0.8);
    border-radius: 0 10px 10px 0;
}

.customer-row {
    display: flex;
    border : 2px solid rgba(115, 117, 130, 0.479);
    justify-content: space-between;
    font-size: 22px;
    background-color: rgb(228, 232, 254);;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;
    height: 8vh;
    /* width: 100%; */
}

.customer-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 5vh;
}

