.container-home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/564x/7a/ea/9a/7aea9af6d2e0603eab990677dcfa932a.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

/* 1st animation */

/* .camera-lens img {
    width: 100px;
    animation: spin 4s infinite linear;
    margin-bottom: 20px;
}

.text-container {
    animation: fadeInText 2s ease-in-out forwards;
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeInText {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animated-text {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
    letter-spacing: 2px;
} */

/* Shapes */

/* .text-container {
    position: absolute;
    top: 30%;
    width: 100%;
  }
  
  .animated-text {
    font-size: 3em;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    animation: fadeInScale 3s ease-in-out;
  }
  
  .lens-container {
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateLens 5s linear infinite;
  }
  
  .camera-lens {
    width: 200px;
    opacity: 0.8;
  }
  
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  @keyframes rotateLens {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */


  .text-container {
    position: absolute;
    top: 30%;
    width: 100%;
  }
  
  .animated-text {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    overflow: hidden;
    border-right: 2px solid white;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
  }
  
  .lens-container {
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .camera-lens {
    width: 200px;
    opacity: 0.8;
    animation: rotateLens 4s linear infinite;
  }
  
  @keyframes typing {
    from { 
      width: 0; 
    }
    to { 
      width: 50%; 
    }
  }
  
  @keyframes blink {
    from, to { 
      border-color: transparent; 
    }
    50% { 
      border-color: white; 
    }
  }
  
  @keyframes rotateLens {
    from { 
      transform: rotate(0deg); 
    }
    to { 
      transform: rotate(360deg); 
    }
  }

  .animated-text.typing-finished {
    border-color: transparent; /* Hide the cursor when typing is finished */
  }