/* Order Management Section */
.order-management {
    padding: 20px;
    background-color: rgb(228, 232, 254);
    flex-grow: 1;
    margin-left: 20px;
    border: 2px solid rgba(115, 117, 130, 0.479);
    border-radius: 15px;
    min-height: 75vh; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.table-container {
    width: 100%;
    overflow-x: auto; 
    margin-top: 20px;
}


.table-container table {
    width: 100%; 
    border-collapse: collapse; 
    font-size: 18px; 
    text-align: left;
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}


.table-container th {
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border: 1px solid #ddd;
}


.table-container td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    color: #333; 
    white-space: nowrap;
}


.table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.table-container tbody tr:hover {
    background-color: rgba(63, 81, 181, 0.1);
    cursor: pointer;
}


.table-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 120px;
}


.table-container button.completed {
    background-color: #32CD32;
    color: white;
}

.table-container button.pending {
    background-color: #FFD700;
    color: rgb(35, 35, 35);
}

.table-container button.in {
    background-color: #87CEFA; 
    color: rgb(35, 35, 35);
}

.table-container button.cancelled {
    background-color: #FF6347; 
    color: white;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .table-container table {
        font-size: 14px;
    }

    .table-container button {
        width: 100px; 
        font-size: 14px;
    }
}
