.sidebar {
    width: 310px;
    border-radius: 15px;
    height: 600px;
    font-size : 20px;
    background-color: rgb(228, 232, 254);
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border : 2px solid rgba(115, 117, 130, 0.479);
}
.btn-container{
    display: flex;
}
.btns{
    display: flex;
    flex-direction: column;
    height: 200px;
}

.btns .agrn:hover{
    color:#00C7BE;
    font-weight : bold;
}
.btns .apnk:hover{
    font-weight : bold;
    color: #FF1AD9;
}
.btns .aylw:hover{
    font-weight : bold;
    color: #FFCC00;
}
.btns .ablu:hover{
    font-weight : bold;
    color: #007AFF;
}
.btns .algrn:hover{
    font-weight : bold;
    color: #34C759;
}
.btns-2 .ared:hover{
    font-weight : bold;
    color: red;
}
.dot {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.menu {
    margin: 20px 0 30px 10px;
}

.btns .grn{
    background-color: #00C7BE;
}
.btns .pnk{
    background-color: #FF1AD9;
}
.btns .ylw{
    background-color: #FFCC00;
}
.btns .blu{
    background-color: #007AFF;
}
.btns .lgrn{
    background-color: #34C759;
}
.btns-2 .red{
    background-color: red;
}

.sidebar a{
    text-decoration: none;
    display: flex;
    color: black;
    padding: 9px;
    border-radius: 10px;
    margin-bottom : 10px;
}
.sidebar a:hover {
    text-decoration: none;
    cursor:pointer;
}

.btns-2{
    display: flex;
    margin-top: 230px;
    flex-direction: column;
    height: 200px;
}